.Person {
    width: 60%;
    background-color: lightblue;
    margin: 16px auto;
    border: 1px solid #eeeeee;
    box-shadow: 0 2px 3px;
    padding: 16px;
    text-align: center;
    padding-top:10px;
    font-style: normal

}

/* @media (min-width: 500px) {
    .Person {
        width: 450px
    }
} */